<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CKG课管管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/admin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <form class="layui-form" action="" id="form_submit_add">
                    <input type="hidden" name="student_id" value="{$student_id}">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 70px;"></label>
                        <label class="layui-form-label">course</label>
                        <label class="layui-form-label" style="width: 70px;"></label>
                        <label class="layui-form-label">teacher</label>
                        <label class="layui-form-label" style="width: 70px;"></label>
                        <label class="layui-form-label">classroom</label>
                        <label class="layui-form-label" style="width: 70px;"></label>
                        <label class="layui-form-label">textbook</label>
                        <label class="layui-form-label" style="width: 70px;"></label>
                        <label class="layui-form-label">spareClassroom</label>
                    </div>
                    {foreach $course_info as $k=>$v}
                    <input type="hidden" name="id[{$k+1}]" value="{$v['id']}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">Section {$k+1}<i style="color: red">*</i></label>
                        <div class="layui-input-inline">
                            <select name="curriculum[{$k+1}]" lay-filter="curriculum{$k+1}" id="curriculum{$k+1}" class="layui-input">
                                <option value="">please choose</option>
                                {foreach $curriculum_info as $z=>$x}
                                <option value="{$x['id']}" {if $v['curriculum_id'] == $x['id']}selected{/if}>{$x['username']}</option>
                                {/foreach}
                                <option value="0" {if $v['curriculum_id'] == '0'}selected{/if}>Self study</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="teacher[{$k+1}]" id="teacher{$k+1}" lay-filter="teacher{$k+1}" class="layui-input">
                                <option value="">please choose</option>
                                <option value="{$v['teacher_id']}" selected>{$v['t_name']}</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" id="classroom{$k+1}" value="{$v['c_name']}"
                                   placeholder="classroom" readonly="readonly" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <select name="textbook[{$k+1}]" id="textbook{$k+1}" class="layui-input">
                                <option value="">please choose</option>
                                {foreach $v['book'] as $z=>$x}
                                <option value="{$x['id']}" {if $x['id'] == $v['textbook_id']}selected{/if}>{$x['username']}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="classroom_id[{$k+1}]" id="classroom_id{$k+1}" class="layui-input">
                                <option value="">please choose</option>
                                {foreach $classroom_info as $a=>$b}
                                <option value="{$b['id']}" {if $b['id']==$v['classroom_id']}selected{/if}>{$b['username']}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    {/foreach}
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-input-inline">
                                <input type="button" value="Last saved" class="layui-btn layui-btn-primary" onclick="sc();">
                            </div>
                            <div class="layui-input-inline">
                                <input type="button" value="cancel" class="layui-btn layui-btn-primary" onclick="qx();">
                                <input type="button" lay-submit lay-filter="submit" value="confirm" class="layui-btn layui-btn-normal">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/admin/layui/layui.js"></script>
<script src="__STATIC__/jquery-3.2.1.min.js"></script>
<script>
    layui.config({
        base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    })
    layui.use('form', function () {
        var form = layui.form;

        form.on('submit(submit)', function (data) {
            var gets = data.field;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            $.post("{:url('student_curriculum_edit')}", gets, function (ret) {
                if (ret.code == 1) {
                    layer.alert(ret.msg, function () {
                        parent.layui.table.reload('student_lists'); //重载表格
                        parent.layer.close(index); //再执行关闭
                    })
                } else {
                    //提示
                    layer.alert(ret.msg)
                }
            })
        })
        {foreach $course_info as $k=>$v}
        //监听课程选择
        form.on('select(curriculum{$k+1})', function(data){
            //课程id
            var curriculum_id = data.value;
            var num = "{$k+1}";
            var student_id = "{$student_id}";
            if (curriculum_id != '') {
                $('#teacher{$k+1}').html('<option value="">please choose</option>');
                $('#textbook{$k+1}').html('<option value="">please choose</option>');
                $('#classroom{$k+1}').val('');
                form.render('select','curriculum{$k+1}');
                var html = '';
                $.post("{:url('get_teacher')}", {curriculum_id: curriculum_id,num:num,student_id:student_id}, function (ret) {
                    if (ret !== false) {
                        $.each(ret.teacher_info, function (k, v) {
                            html += '<option data-test="'+ret.cid+'" value="' + v.id + '">' + v.username + '</option>';
                        })
                        $('#teacher{$k+1}').append(html);
                        form.render('select');
                    } else {
                        $('#teacher{$k+1}').html('<option value="">please choose</option>');
                        $('#textbook{$k+1}').html('<option value="">please choose</option>');
                        $('#classroom{$k+1}').val('');
                        form.render('select','curriculum{$k+1}');
                    }
                })
            } else {
                $('#teacher{$k+1}').html('<option value="">please choose</option>');
                $('#textbook{$k+1}').html('<option value="">please choose</option>');
                $('#classroom{$k+1}').val('');
                form.render('select','curriculum{$k+1}');
            }
        });
        //监听老师选择
        form.on('select(teacher{$k+1})', function(data){
            //课程id
            var teacher_id = data.value;
            var curriculum_id = data.elem[data.elem.selectedIndex].dataset.test;
            if (teacher_id != '') {
                $('#textbook{$k+1}').html('<option value="">please choose</option>');
                $('#classroom{$k+1}').val('');
                form.render('select','teacher{$k+1}');
                var html = '';
                $.post("{:url('get_textbook')}", {curriculum_id: curriculum_id,teacher_id: teacher_id}, function (ret) {
                    if (ret !== false) {
                        $('#classroom{$k+1}').val(ret.teacher_info.c_name);
                        $.each(ret.textbook_info, function (k, v) {
                            html += '<option value="' + v.id + '">' + v.username + '</option>';
                        })
                        $('#textbook{$k+1}').append(html);
                        form.render('select');
                    } else {
                        $('#textbook{$k+1}').html('<option value="">please choose</option>');
                        $('#classroom{$k+1}').val('');
                        form.render('select','teacher{$k+1}');
                    }
                })
            } else {
                $('#textbook{$k+1}').html('<option value="">please choose</option>');
                $('#classroom{$k+1}').val('');
                form.render('select','teacher{$k+1}');
            }
        });
        {/foreach}
        })
    function qx() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
    function sc() {
        window.location.reload();
    }
</script>
</body>
</html>