<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CKG课管管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/admin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <form class="layui-form" action="" id="form_submit_add">
                    <input type="hidden" name="id" value="{$student_info['id']}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">StudentID</label>
                        <div class="layui-input-block">
                            <input type="text" name="student_id" value="{$student_info['student_id']}"
                                   readonly="readonly" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Name<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" value="{$student_info['name']}"
                                   placeholder="Please enter name" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">AcademicStatus</label>
                        <div class="layui-input-block">
                            <select name="status"  class="layui-input">
                                <option value="1" {if $student_info['status'] == 'has not started'}selected{/if}>has not started</option>
                                <option value="1" {if $student_info['status'] == 'learning'}selected{/if}>learning</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">EnglishName</label>
                        <div class="layui-input-block">
                            <input type="text" name="english" value="{$student_info['english']}"
                                   placeholder="Please enter english name" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">ContactNumber<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" required lay-verify="required" value="{$student_info['phone']}"
                                   placeholder="Please enter contact number" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Sex<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <select name="sex" id="sex" class="layui-input" lay-filter="sex">
                                <option value="">please choose</option>
                                <option value="1" {if $student_info['sex'] == 'male'}selected{/if}>male</option>
                                <option value="2" {if $student_info['sex'] == 'female'}selected{/if}>female</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Age<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <input type="text" name="age" required lay-verify="required" value="{$student_info['age']}"
                                   placeholder="Please enter age" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Nationality<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <select name="nationality"  class="layui-input">
                                <option value="china" {if $student_info['nationality'] == 'china'}selected{/if}>china</option>
                                <option value="taiwan" {if $student_info['nationality'] == 'taiwan'}selected{/if}>taiwan</option>
                                <option value="korean" {if $student_info['nationality'] == 'korean'}selected{/if}>korean</option>
                                <option value="japan" {if $student_info['nationality'] == 'japan'}selected{/if}>japan</option>
                                <option value="vietnam" {if $student_info['nationality'] == 'vietnam'}selected{/if}>vietnam</option>
                                <option value="russia" {if $student_info['nationality'] == 'russia'}selected{/if}>russia</option>
                                <option value="arab" {if $student_info['nationality'] == 'arab'}selected{/if}>arab</option>
                                <option value="mongolia" {if $student_info['nationality'] == 'mongolia'}selected{/if}>mongolia</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">PassportNumber</label>
                        <div class="layui-input-block">
                            <input type="text" name="passport" value="{$student_info['passport']}"
                                   placeholder="Please enter passport number" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Address</label>
                        <div class="layui-input-block">
                            <input type="text" name="address" value="{$student_info['address']}"
                                   placeholder="Please enter address" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">ArrivalFlight</label>
                        <div class="layui-input-block">
                            <input type="text" name="flight" value="{$student_info['flight']}"
                                   placeholder="Please enter arrival flight" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Subject<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <select name="curriculum_id"  class="layui-input">
                                {foreach $curriculum_info as $k=>$v}
                                    <option value="{$v.id}" {if $student_info['curriculum_id'] == $v['id']}selected{/if}>{$v.username}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">AcademicDays</label>
                        <div class="layui-input-block">
                            <input type="text" name="days" value="{$student_info['days']}"
                                   placeholder="Please enter the number of academic days" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">ClassMode</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<select name="school"  class="layui-input">-->
                                <!--<option value="1" {if $student_info['school'] == 1}selected{/if}>One-to-one</option>-->
                                <!--<option value="2" {if $student_info['school'] == 2}selected{/if}>Group class</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="layui-form-item">
                        <label class="layui-form-label">ArrivalDate<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" required lay-verify="required" name="arrival" value="{$student_info['arrival']=='0000-00-00'?'':$student_info['arrival']}"
                                   id="test-laydate-start" placeholder="ArrivalDate">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">LeaveDate<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" required lay-verify="required" name="leave" value="{$student_info['leave']=='0000-00-00'?'':$student_info['leave']}"
                                   id="test-laydate-end" placeholder="LeaveDate">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">RoomType<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            <select id="dorm_type" class="layui-input" lay-filter="dorm_type">
                                <option value="">please choose</option>
                                {foreach $dorm_type as $k=>$v}
                                <option value="{$v.type_name}" {if $student_info['d_type'] == $v['type']}selected{/if}>{$v.type}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">RoomNumber<i style="color: red">*</i></label>
                        <div class="layui-input-block">
                            {if $student_info['dorm_id'] != 0}
                            <select name="dorm_id" id="dorm_id" class="layui-input" lay-filter="dorm_id">
                                <option value="{$student_info['dorm_id']}">{$student_info['d_name']}</option>
                                {foreach $dorm_info as $k=>$v}
                                <option value="{$v['id']}">{$v['username']}</option>
                                {/foreach}
                            </select>
                            {else/}
                            <select name="dorm_id" id="dorm_id" class="layui-input" lay-filter="dorm_id">
                                <option value="">please choose</option>
                            </select>
                            {/if}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Agency</label>
                        <div class="layui-input-block">
                            <input type="text" name="mechanism_id" value="{$student_info['m_name']}"
                                   readonly="readonly" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Remark</label>
                        <div class="layui-input-block">
                            <input type="text" name="remarks" value="{$student_info['remarks']}"
                                   placeholder="Please enter a comment" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    {if $Think.session.type == 1}
                    <div class="layui-form-item">
                        <label class="layui-form-label">PaymentStatus</label>
                        <div class="layui-input-block">
                            <select name="pay"  class="layui-input">
                                <option value="1" {if $student_info['pay'] == 1}selected{/if}>Unpaid</option>
                                <option value="2" {if $student_info['pay'] == 2}selected{/if}>Paid</option>
                            </select>
                        </div>
                    </div>
                    {/if}
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="button" value="cancel" class="layui-btn layui-btn-primary" onclick="qx();">
                            <input type="button" lay-submit lay-filter="submit" value="confirm" class="layui-btn layui-btn-normal">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/admin/layui/layui.js"></script>
<script src="__STATIC__/jquery-3.2.1.min.js"></script>
<script>
    layui.config({
        base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    })
    layui.use(['form','laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;

        form.on('submit(submit)', function (data) {
            var gets = data.field;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            $.post("{:url('student_edit')}", gets, function (ret) {
                if (ret.code == 1) {
                    layer.alert(ret.msg, function () {
                        parent.layui.table.reload('student_lists'); //重载表格
                        parent.layer.close(index); //再执行关闭
                    })
                } else {
                    //提示
                    layer.alert(ret.msg)
                }
            })
        })

        //开始日期
        var insStart = laydate.render({
            elem: '#test-laydate-start'
            , btns: ['confirm']
            , done: function (value, date) {
                //更新结束日期的最小日期
                insEnd.config.min = lay.extend({}, date, {
                    month: date.month - 1
                });

                //自动弹出结束日期的选择器
                insEnd.config.elem[0].focus();
            }
        });

        //结束日期
        var insEnd = laydate.render({
            elem: '#test-laydate-end'
            , btns: ['confirm']
            , min: "{$student_info['arrival']=='0000-00-00'?'':$student_info['arrival']}"
            , done: function (value, date) {
                //更新开始日期的最大日期
                insStart.config.max = lay.extend({}, date, {
                    month: date.month - 1
                });
            }
        });

        //监听性别选择
        form.on('select(sex)', function(data){
            var sex = data.value;
            $.ajax({
                url: "{:url('dorm_type')}",
                async: false,//这一步是非常重要的，作用是设置为同步执行
                type: "POST",
                data: {"sex":sex},
                dataType: "json",
                success: function (data) {
                    $("#dorm_type").html('<option value="">please choose</option>');
                    $("#dorm_id").html('<option value="">please choose</option>');
                    var html='';
                    $.each(data, function (k, v) {
                        html += '<option value="' + v.type_name + '">' + v.type + '</option>';
                    })
                    $("#dorm_type").append(html);
                    form.render('select');
                }
            });
        })

        //监听寝室类型选择
        form.on('select(dorm_type)', function(data){
            var start = $("#test-laydate-start").val();
            var end = $("#test-laydate-end").val();
            var sex = $("#sex option:selected").val();
            var type = data.value;
            if(start != '' && end != '' && sex != '' && type != ''){
                $.ajax({
                    url: "{:url('student_dorm')}",
                    async: false,//这一步是非常重要的，作用是设置为同步执行
                    type: "POST",
                    data: {"start":start,"end":end,"sex":sex,'type':type},
                    dataType: "json",
                    success: function (data) {
                        if(data.code == 1){
                            var html='<option value="">please choose</option>';
                            $.each(data.data, function (k, v) {
                                html += '<option value="' + v.id + '">' + v.username + '</option>';
                            })
                            $("#dorm_id").html(html);
                            form.render('select');
                        }else{
                            var html='<option value="">please choose</option>';
                            $("#dorm_id").html(html);
                            form.render('select');
                            layer.alert(data.msg);
                        }
                    }
                });
            }else{
                layer.alert("Please complete Time, Sex, RoomType!");
            }
        })
    })
    function qx() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</body>
</html>