<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CKG课管管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/admin/style/admin.css" media="all">
    <style>
        .layui-table-cell {
            padding:0 5px;
            height:auto;
            overflow:visible;
            text-overflow:inherit;
            white-space:normal;
            word-break: break-all;
        }
    </style>
</head>

<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">StudentID</label>
                    <div class="layui-input-block">
                        <input type="text" name="student_id" placeholder="please enter" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">EnglishName</label>
                    <div class="layui-input-block">
                        <input type="text" name="english" placeholder="please enter" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">ArrivalDate</label>
                    <div class="layui-input-block">
                        <input type="text" name="arrival" id="arrival" placeholder="please enter" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">AcademicStatus</label>
                    <div class="layui-input-block">
                        <select name="status" class="layui-input">
                            <option value="">please choose</option>
                            <option value="1">unstart</option>
                            <option value="2">learning</option>
                            <option value="3">done</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>Inquire
                    </button>
                    <button class="layui-btn layuiadmin-btn-admin" id="Import">
                        ImportStudent
                    </button>
                </div>
            </div>
        </div>


        <div class="layui-card-body">
            <div style="padding-bottom: 10px;display: none" id="student_all">
                <button class="layui-btn layui-btn-sm" onclick="student_add()" data-type="add">
                    <i class="layui-icon layui-icon-add-1"></i>AddStudent
                </button>
                <button class="layui-btn layui-btn-sm" onclick="dorm()" data-type="add">
                    RoomInquiry
                </button>
            </div>
            <table id="student_lists" lay-filter="test"></table>
            <script type="text/html" id="barstudent">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">EditStudent</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">EditCourse</a>
            </script>
        </div>
    </div>
</div>

<script src="__STATIC__/admin/layui/layui.js"></script>
<script src="__STATIC__/jquery-3.2.1.min.js"></script>
<script src="__STATIC__/DataTableExtend.js"></script>
<script>
    layui.config({
        base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    });

    layui.use(['table', 'laydate','upload'], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        //第一个实例
        table.render({
            elem: '#student_lists',
            height: 550,
            url: '{:url("get_student_lists")}', //数据接口
            where: {},
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,limit:10 //一页显示多少条
                ,groups: 5 //只显示 2 个连续页码
            }, //开启分页
            toolbar: '#student_all',
            defaultToolbar: ['filter'],
            skin: 'nob',
            size: 'sm',
            cellMinWidth: '60',
            response: {
                statusCode: 1,//规定成功的状态码，默认：0
            },
            cols: [
                [ //表头
                    {
                        field: 'student_id',
                        title: 'StudentID',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'status',
                        title: 'AcademicStatus',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'name',
                        title: 'Name',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'phone',
                        title: 'ContactNumber',
                        minWidth: 110,
                        align: 'center',
                    },
                    {
                        field: 'english',
                        title: 'EnglishName',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'sex',
                        title: 'Sex',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'age',
                        title: 'Age',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'nationality',
                        title: 'Nationality',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'passport',
                        title: 'Passport',
                        minWidth: 110,
                        align: 'center',
                    },
                    {
                        field: 'address',
                        title: 'Address',
                        minWidth: 150,
                        align: 'center',
                    },
                    {
                        field: 'arrival',
                        title: 'ArrivalDate',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'flight',
                        title: 'ArrivalFlight',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'c_name',
                        title: 'Course',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'days',
                        title: 'AcademicDays',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'd_name',
                        title: 'RoomNumber',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'd_type',
                        title: 'RoomType',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'm_name',
                        title: 'Agency',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'leave',
                        title: 'LeaveDate',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'remarks',
                        title: 'Remark',
                        minWidth: 100,
                        align: 'center',
                    },
                    {
                        field: 'a_name',
                        title: 'LastEditedBy',
                        align: 'center',
                        minWidth: 100,
                    },
                    {
                        field: 'course',
                        title: 'course',
                        hide:true,
                    },
                    {
                        title: 'operating',
                        // fixed:'right',
                        align: 'center',
                        minWidth: 190,
                        toolbar: '#barstudent'
                    } //这里的toolbar值是模板元素的选择器

                ]
            ],
            done: function (res, curr, count) {
                // 表格渲染完成之后的回调
                LayUIDataTable.SetJqueryObj($);// 第一步：设置jQuery对象
                // LayUIDataTable.HideField('course');// 隐藏列-单列模式
                var currentRowDataList = LayUIDataTable.ParseDataTable(function (index, currentData, rowData) {
                })

                // 对相关数据进行判断处理
                $.each(currentRowDataList, function (index, obj) {
                    if (obj['d_name'].value == ''||obj['course'].value == 0) {
                        obj['d_name'].row.css("color", "#FF0000");
                    }
                })
            }
        });

        //监听搜索
        form.on('submit(LAY-user-back-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('student_lists', {
                where: field
                , page: {
                    curr: 1 //重新从第 1 页开始 避免数据只有一页数据报错
                }
            });
        });


        //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        table.on('tool(test)', function (obj) {
            //获得当前行数据
            var data = obj.data;
            //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var layEvent = obj.event;
            //获得当前行 tr 的DOM对象
            var tr = obj.tr;
            var id = data.id;
            if (layEvent === 'detail') {
                //编辑课程
                var url = "{:url('student_curriculum','','',true)}/id/" + id;
                edit_index = layer.open({
                    type: 2,
                    title: 'EditCourse',
                    area: ['90%', '90%'],
                    content: url
                });
            } else if (layEvent === 'edit') {
                //编辑学生
                var url = "{:url('student_edit','','',true)}/id/" + id;
                edit_index = layer.open({
                    type: 2,
                    title: 'EditStudent',
                    area: ['90%', '90%'],
                    content: url
                });
            }
        });

        //日期范围
        var Date = laydate.render({
            elem: '#arrival'
            , lang: 'en'
            , range: true
        });

        //文件上传--学生导入
        var uploadInst = upload.render({
            elem: '#Import' //绑定元素
            , url: '{:url("student/import")}' //上传接口
            , accept: 'file'
            , exts: 'xlsx|xls'
            , done: function (ret) {
                layer.alert(ret.msg)
                layui.table.reload('student_lists'); //重载表格
            }
            , error: function () {
                layer.alert('上传出错')
            }
        });
    });

    //添加
    function student_add() {
        var url = "{:url('student_add','','',true)}";
        add_index = layer.open({
            type: 2,
            title: 'AddStudent',
            area: ['90%', '90%'],
            content: url
        });
    }
    //床位查询
    function dorm() {
        var url = "{:url('dorm','','',true)}";
        add_index = layer.open({
            type: 2,
            title: 'RoomInquiry',
            area: ['90%', '90%'],
            content: url
        });
    }
</script>
</body>

</html>