<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CKG课管管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/admin/style/admin.css" media="all">
</head>

<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;display: none" id="mechanism_all">
                <button class="layui-btn layui-btn-sm" onclick="mechanism_add()" data-type="add">
                    <i class="layui-icon layui-icon-add-1"></i>添加
                </button>
            </div>
            <table id="mechanism_lists" lay-filter="mechanism"></table>
            <script type="text/html" id="bards">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑信息</a>
            </script>
        </div>
    </div>
</div>

<script src="__STATIC__/admin/layui/layui.js"></script>
<script src="__STATIC__/jquery-3.2.1.min.js"></script>
<script>
    layui.config({
        base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    });

    layui.use(['table'], function () {
        var table = layui.table;
        var form = layui.form;
        //第一个实例
        table.render({
            elem: '#mechanism_lists',
            height: 550,
            url: '{:url("get_mechanism_lists")}', //数据接口
            where: {},
            page: true, //开启分页
            toolbar: '#mechanism_all',
            defaultToolbar: ['filter'],
            skin: 'nob',
            size: 'sm',
            cellMinWidth: '60',
            response: {
                statusCode: 1,//规定成功的状态码，默认：0
            },
            cols: [
                [ //表头
                    {
                        field: 'username',
                        title: '机构',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        field: 'status',
                        title: '状态',
                        minWidth: 80,
                        align: 'center',
                    },
                    {
                        title: '操作',
                        // fixed:'right',
                        align: 'center',
                        minWidth: 190,
                        toolbar: '#bards'
                    } //这里的toolbar值是模板元素的选择器

                ]
            ],

        });

        //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        table.on('tool(mechanism)', function (obj) {
            //获得当前行数据
            var data = obj.data;
            //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var layEvent = obj.event;
            //获得当前行 tr 的DOM对象
            var tr = obj.tr;
            var id = data.id;
            if (layEvent === 'edit') {
                //编辑
                var url = "{:url('mechanism_edit','','',true)}/id/" + id;
                edit_index = layer.open({
                    type: 2,
                    title: '编辑信息',
                    area: ['90%', '90%'],
                    content: url
                });
            }
        });
    });

    //添加
    function mechanism_add() {
        var url = "{:url('mechanism_add','','',true)}";
        add_index = layer.open({
            type: 2,
            title: '添加信息',
            area: ['90%', '90%'],
            content: url
        });
    }
</script>
</body>

</html>