<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>修改密码-CKG课管管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="__STATIC__/admin/style/admin.css" media="all">
</head>

<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-header">修改密码</div>
			<div class="layui-card-body" style="padding: 15px;">
				<form class="layui-form" action="" lay-filter="component-form-group">
					<div class="layui-form-item">
						<label class="layui-form-label">原密码</label>
						<div class="layui-input-inline">
							<input type="text" name="oldpassword" lay-verify="required" autocomplete="off"
                                placeholder="请输入原密码" class="layui-input"> 
                        </div>
                        <div class="layui-form-mid layui-word-aux">请输入原登录密码进行验证</div>
                    </div>
                    <div class="layui-form-item">
						<label class="layui-form-label">新密码</label>
						<div class="layui-input-inline">
							<input type="text" name="password" lay-verify="required" autocomplete="off"
                                placeholder="请输入新密码" class="layui-input"> 
                        </div>
                        <div class="layui-form-mid layui-word-aux">请输入要修改的密码</div>
                    </div>
                    <div class="layui-form-item">
						<label class="layui-form-label">重复新密码</label>
						<div class="layui-input-inline">
							<input type="text" name="repassword" lay-verify="required" autocomplete="off"
                                placeholder="请重复输入新密码" class="layui-input"> 
                        </div>
                        <div class="layui-form-mid layui-word-aux">请重复输入要修改的密码</div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
						<div class="layui-input-inline">
							<div class="layui-footer" style="left: 0;">
                                <button type="button" class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
							</div>
                        </div>
                       
					</div>
				</form>
			</div>
		</div>
	</div>


	<script src="__STATIC__/admin/layui/layui.js"></script>
	<script>
		layui.config({
			base: '__STATIC__/admin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use('form', function () {
			var $ = layui.$,
				layer = layui.layer,
				form = layui.form;
			/* 监听提交 */
			form.on('submit(component-form-demo1)', function (data) {
				$.post("{:url('edit_password')}",data.field,function(ret){
					if (ret.code == 1) {
						//提示
						layer.alert(ret.msg, function () {
							top.location.href="{:url('base/out_login')}";
						})
					} else {
						//提示
						layer.alert(ret.msg)
					}
				})
			});

		});
	</script>
</body>

</html>